
{{data | json}}
<ng-container *ngIf="data.mode === 'delete'">
    удалить ???
</ng-container>
<ng-container *ngIf="data.mode !== 'delete'">

    <form class="auth-form" [formGroup]="carData" (ngSubmit)="submitForm()">
        <img src="/assets/images/" alt="">
        <mat-form-field  appearance="fill">
          <mat-label>purchaseDate</mat-label>
          <input type="text" matInput formControlName="purchaseDate"
                 placeholder="purchaseDate">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>auction</mat-label>
            <input type="text" matInput formControlName="auction"
                   placeholder="auction">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>model</mat-label>
            <input type="text" matInput formControlName="model"
                   placeholder="model">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>vin</mat-label>
            <input type="text" matInput formControlName="vin"
                   placeholder="vin">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>price</mat-label>
            <input type="text" matInput formControlName="price"
                   placeholder="price">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>port</mat-label>
            <input type="text" matInput formControlName="port"
                   placeholder="port">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>title</mat-label>
            <input type="text" matInput formControlName="title"
                   placeholder="title">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>container</mat-label>
            <input type="text" matInput formControlName="container"
                   placeholder="container">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>customer</mat-label>
            <input type="text" matInput formControlName="customer"
                   placeholder="customer">
    
        </mat-form-field>
    
        <mat-form-field  appearance="fill">
            <mat-label>status</mat-label>
            <input type="text" matInput formControlName="status"
                   placeholder="status">
    
        </mat-form-field>
          <div class="example-button-row">
    
            <button mat-raised-button color="primary" >Сохранить</button>
         
          </div>
      </form>
</ng-container>
