
<!-- {{data | json}} -->
<div class="dialog-wrapper">
    <ng-container *ngIf="data.mode === 'delete'">
        <h3> Вы уверены что хотите удалить авто? </h3>  
        <p *ngIf="!!data.vin">vin: {{data.vin}}</p> 
        <p *ngIf="!!data.model">model: {{data.model}}</p> 

        <div class="delete-btns-block">
        
            <button mat-raised-button color="primary" (click)="removeCar(data)" >Да</button>
            <button mat-raised-button color="warning" (click)="onNoClick()" >Нет</button>
          </div>
    
    </ng-container>
    <ng-container *ngIf="data.mode === 'create' || data.mode === 'edit' ">
    
        <form class="auth-form" [formGroup]="carData" (ngSubmit)="submitForm()">
           
            <!-- <mat-form-field  appearance="fill">
              <mat-label>purchaseDate</mat-label>
              <input type="text" matInput formControlName="purchaseDate"
                     placeholder="purchaseDate">
        
            </mat-form-field> -->
            <!-- <mat-form-field color="accent" appearance="fill">
              <mat-label>Inherited calendar color</mat-label>
              <input matInput [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field> -->

            <mat-form-field appearance="fill">
              <mat-label>Angular forms</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="purchaseDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field  appearance="fill">
                <mat-label>auction</mat-label>
                <input type="text" matInput formControlName="auction"
                       placeholder="auction">
        
            </mat-form-field>
        
            <mat-form-field  appearance="fill">
                <mat-label>model</mat-label>
                <input type="text" matInput formControlName="model"
                       placeholder="model">
        
            </mat-form-field>
        
            <mat-form-field  appearance="fill">
                <mat-label>vin</mat-label>
                <input type="text" matInput formControlName="vin" maxlength="17"
                       placeholder="vin">
        
            </mat-form-field>
        
            <mat-form-field  appearance="fill">
                <mat-label>price</mat-label>
                <input type="number" matInput formControlName="price"
                       placeholder="price">
        
            </mat-form-field>
        
            <mat-form-field  appearance="fill">
                <mat-label>port</mat-label>
                <input type="text" matInput formControlName="port"
                       placeholder="port">
        
            </mat-form-field>
        
            <!-- <mat-form-field  appearance="fill">
                <mat-label>title</mat-label>
                <input type="text" matInput formControlName="title"
                       placeholder="title">
        
            </mat-form-field> -->
        
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <select matNativeControl formControlName="title">
                <!-- <option value="" selected></option> -->
                <option value="false">Нет</option>
                <option value="true">Да</option>
             

              </select>
            </mat-form-field>

            <mat-form-field  appearance="fill">
                <mat-label>container</mat-label>
                <input type="number" matInput formControlName="container"
                       placeholder="container">
        
            </mat-form-field>
        
            <mat-form-field  appearance="fill">
                <mat-label>Покупатель</mat-label>
                <input type="text" matInput formControlName="customer"
                       placeholder="Покупатель">
        
            </mat-form-field>
        
            <!-- <mat-form-field  appearance="fill">
                <mat-label>status</mat-label>
                <input type="text" matInput formControlName="status"
                       placeholder="status">
        
            </mat-form-field> -->

            <!-- [(ngModel)]="selectedDeliveryStatus" -->
            <mat-form-field appearance="fill">
              <mat-label>Выбрать стутус</mat-label>
              <mat-select  formControlName="status">
                <mat-option *ngFor="let statusItem of SS.statusesDelivery" [value]="statusItem.name">
                  {{statusItem.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>


              <div class="example-button-row">
        
                <button mat-raised-button color="primary" >Сохранить</button>
             
              </div>
          </form>

 
    </ng-container>
    <ng-container *ngIf="data.mode==='connect'">

          <div class="connect-wrap">
            <h3>К кому прикреплено авто для просмотра</h3>
            <mat-list class="list">
                <mat-list-item class="item" *ngFor="let user of usersSelectList">
                  <mat-checkbox class="example-margin"
                    [checked]="checkCar(user.carList)"
  
                    (change)="onCheckboxTap($event,user.item_id)">
                    {{user.login}} {{user.name}}
                  </mat-checkbox>
                 
                </mat-list-item>
            </mat-list>
          </div>

    </ng-container>

    <ng-container *ngIf="data.mode==='photos'">
      <div class="photo-wrap">
        <form [formGroup]="myForm" (ngSubmit)="submitFileForm()" >
  
          <mat-form-field appearance="fill">
            <mat-label>Выберите раздел</mat-label>
            <mat-select formControlName="selectedType">
              <mat-option *ngFor="let type of selectTypes" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            
          <div class="form-group">
             
              <input 
                  formControlName="photo"
                  id="file" 
                  type="file" 
                  class="form-control"
                  (change)="onFileChange($event)">
  
          </div>
                
          <button class="btn btn-primary"  mat-raised-button type="submit" *ngIf="isShowButton">Загрузить фото</button>
      </form> 
      <!-- {{data | json}} -->
        <div class="photos-list">
          <div class="imgs-block auction" *ngIf="data.photoList.auction.length">
            <h3>Аукцион</h3>
            <ng-container *ngFor="let img of data.photoList.auction">
              <div class="img-wr">
                <img [src]="setImgSrc('auction',img)" alt="" (click)="showFullSizeImg('auction',img)">
                <!-- <span (click)="removeImg('auction',img)">delete</span> -->
                <img class="icon" (click)="removeImg('auction',img)" src="/assets/images/icons/delete-salad.png" >
                <a [href]="setImgSrc('auction',img)" [download]="img">
                  <img class="icon-download"   src="/assets/images/icons/cloud-download.png" >
                </a>
              </div>
            
            </ng-container>
          </div>

          <div class="imgs-block docs" *ngIf="data.photoList.docs.length">
            <h3>Документы</h3>
            <ng-container *ngFor="let img of data.photoList.docs" >
              <div class="doc-wr">
                <a target="_blank" href="{{setImgSrc('docs',img)}}">{{img}}</a>
                <!-- <img [src]="setImgSrc('docs',img)" alt=""> -->
                <img class="icon"  (click)="removeImg('docs',img)" src="/assets/images/icons/delete-salad.png" >

                
              </div>
            </ng-container>
          </div>


          <div class="imgs-block invoices" *ngIf="data.photoList.invoices.length">
            <h3>Инвойсы</h3>
            <ng-container *ngFor="let img of data.photoList.invoices">
              <div class="img-wr">
                <img [src]="setImgSrc('invoices',img)" alt="" (click)="showFullSizeImg('invoices',img)">
                <img class="icon" (click)="removeImg('invoices',img)" src="/assets/images/icons/delete-salad.png" >
                <a [href]="setImgSrc('invoices',img)" [download]="img">
                  <img class="icon-download"   src="/assets/images/icons/cloud-download.png" >
                </a>
              </div>
            </ng-container>
          </div>

          <div class="imgs-block port" *ngIf="data.photoList.port.length">
            <h3>Порт</h3>
            <ng-container *ngFor="let img of data.photoList.port">
              <div class="img-wr">
                <img [src]="setImgSrc('port',img)" alt="" (click)="showFullSizeImg('port',img)">
                <!-- <span (click)="removeImg('port',img)">delete</span> -->
                <img class="icon" (click)="removeImg('port',img)" src="/assets/images/icons/delete-salad.png" >
              
                <a [href]="setImgSrc('port',img)" [download]="img">
                  <img class="icon-download"   src="/assets/images/icons/cloud-download.png" >
                </a>
              </div>
            
            </ng-container>
          </div>

          <div class="imgs-block warehouse" *ngIf="data.photoList.warehouse.length">
            <h3>Склад</h3>
            <ng-container *ngFor="let img of data.photoList.warehouse">
              <div class="img-wr">
                <img [src]="setImgSrc('warehouse',img)" alt="" (click)="showFullSizeImg('warehouse',img)">
                <!-- <span (click)="removeImg('warehouse',img)">delete</span> -->
                <img class="icon" (click)="removeImg('warehouse',img)" src="/assets/images/icons/delete-salad.png" >
                <a [href]="setImgSrc('warehouse',img)" [download]="img">
                  <img class="icon-download"   src="/assets/images/icons/cloud-download.png" >
                </a>
              </div>
            
            </ng-container>
          </div>
        </div>
        <div class="full-image-container" *ngIf="isShowFullImage">
          <img src="{{showImageSrc}}" alt="">
          <div class="layout" (click)="closeShowImage()"></div>
        </div>

        <div class="delete-image-container" *ngIf="isShowDeleteImage">
        
          <p>Вы действительно хотите удалить ?</p>
          <button mat-raised-button color="warn" (click)="confirmRemoveImage()">Да</button>
          <button mat-raised-button color="primary" (click)="noRemoveImage()">Нет</button>
        </div>

      </div>

    </ng-container>

</div>
