.dialog-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    mat-list {
        mar-list-item {
            border-bottom: 1px solid #575757;
        }
    }
    .delete-btns-block {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            width: 110px;
        }
    }
    form {
        display: flex;
        flex-wrap: wrap;
        mat-form-field {
            
            display: flex;
            width: 350px;
            max-width: 350px;
            .mat-form-field-wrapper {
                
                width: 100%!important;
                .mat-form-field-flex {
                    display: flex;  
                }
                .mat-form-field-infix {
                    width: 100%;
                }
            }

            
        }
    
    }
    
}
