
<div class="users">


    <div class="container">
      <div class="additionals">
        <button  mat-raised-button color="primary" (click)="openDialog('create')" class="create">
         <p> Создать юзера </p>

        </button>
      </div>
     
      <table mat-table [dataSource]="SS.userList" class="mat-elevation-z8 demo-table">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index" [attr.data-item_id]="element.item_id"> {{i+1}} </td>
          </ng-container>

            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef>login</th>
              <td mat-cell *matCellDef="let element"> {{element.login}} </td>
            </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> lastName </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>


          <!-- Weight Column -->
          <!-- <ng-container matColumnDef="isCreator">
            <th mat-header-cell *matHeaderCellDef> isCreator </th>
            <td mat-cell *matCellDef="let element"> {{element.isCreator}} </td>
          </ng-container> -->
        
          <!-- Symbol Column -->


          <!-- Weight Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <ng-container matColumnDef="cars">
            <th mat-header-cell *matHeaderCellDef> cars </th>
            <td mat-cell *matCellDef="let element"> {{getCarIds(element.carList)}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="allAuto">
            <th mat-header-cell *matHeaderCellDef> allAuto </th>
            <td mat-cell *matCellDef="let element"> {{element.allAuto}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="inWorkAuto">
            <th mat-header-cell *matHeaderCellDef> inWorkAuto </th>
            <td mat-cell *matCellDef="let element"> {{element.inWorkAuto}} </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> 
                <img class="icon" src="/assets/images/icons/edit.png" alt="plus" (click)="openDialog('edit',element)">
            </td>
        </ng-container>
          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element"> 
             
                  <img class="icon" src="/assets/images/icons/delete.png" [ngClass]="{'half-hidden':!isHimself(element.item_id)}"  alt="delete" (click)="isHimself(element.item_id) ? openDialog('delete',element) : null">
              </td>
          </ng-container>




          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
</div>