
.nav {
    display: flex;
    justify-content: center;
    background: cadetblue;
    margin-bottom: 40px;
    ul {
        display: flex;
        width: 800px;
        justify-content: space-between;
        list-style: none;
        li {
            a {
                text-decoration: none;
                font-size: 20px;
                color: #f1f0f0;
                transition: all 0.3s;
                &:hover {
                    color: #271b1b;
                }
            }
        }
    }
}
