<!-- 
 -->
 <app-header></app-header>
<nav class="nav">
    <div class="container">
        <ul>
            <li>
              
                <a [routerLink]="['automobiles']">Авто</a>
            </li>
            <!-- <li>
            
                <a [routerLink]="['finances']">finances</a>
            </li> -->
            <!-- <li>
                <a [routerLink]="['calculators']">калькуляторы</a>
               
            </li> -->
            <li *ngIf="SS.currentUser.role==='admin' || SS.currentUser.role==='superadmin'">
                <a [routerLink]="['users']">Клиенты</a>
              
            </li>
        </ul>
    
    </div>
</nav>

<router-outlet></router-outlet>
    
