.dialog-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .delete-btns-block {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            width: 110px;
        }
    }
    form {
        display: flex;
        flex-wrap: wrap;
        .cars {
            display: flex;
            width: 350px;
            max-width: 350px;
            flex-direction: column;
            .carList {
                display: none;
            }
        }
        

        mat-form-field {
            
            display: flex;
            width: 350px;
            max-width: 350px;
    
            .mat-form-field-wrapper {
                
                width: 100%!important;
                .mat-form-field-flex {
                    display: flex;  
                }
                .mat-form-field-infix {
                    width: 100%;
                }
            }
    
            
        }
        .button-row {
            width: 100%;
        }
    }
    .role-radio {
        margin-bottom: 20px;
        width: 380px;
        mat-radio-group {
            display: flex;
            flex-direction: column;
            mat-radio-button {
                height: 30px;
                display: flex;
                align-items: center;
            }
        }
    }
}
