.automobiles {
    display: flex;
    justify-content: center;
    .container {
        flex-direction: column;
    }
    .additionals {
        margin-bottom: 20px;
        .create {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 8px;
            p {
               
                line-height: 1;
                margin: 0 10px 0 0;
            }
            img {
                width: 18px;
            }
        }
    }

    table {
        width: 100%;
        td.mat-column-photo {
            img {
                width:100px
            }
        }
        .icon {
            width:20px;
            cursor: pointer;
            margin: 0 15px;
            &.title {
                margin: 0;
            }
        }
        td.mat-column-delete {
            width: 50px;
    
        }
        td.mat-column-edit {
            width: 50px;
    
        }
        td.mat-column-connect {
            width: 50px;
    
        }
    }
}