
<div class="main-panel">
    <!-- <ng-container *ngFor="let menu of menuList">
        <div class="panel-item">
            {{menu}}
            
        
        </div>
    </ng-container> -->
    <div class="panel-item auth">
        <div class="inner-block">
            <form class="auth-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <mat-form-field  appearance="fill">
                  <mat-label>Login</mat-label>
                  <input type="text" matInput formControlName="login"
                         placeholder="Login">

                </mat-form-field>

                <mat-form-field  appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="text" matInput formControlName="password"
                           placeholder="password">

                  </mat-form-field>
                  <div class="example-button-row">

                    <button mat-raised-button color="primary" >Войти</button>
                    <!-- <a routerLink="/dashboard" routerLinkActive="active">dashboard</a> -->
                  </div>
              </form>
        </div>
        
    
    </div>
    <div class="panel-item calculator">
        <div class="inner-block">
         
            <button  mat-raised-button color="primary" (click)="openCalculatorDialog()">Calculator</button>
        </div>
    </div>
    <div class="panel-item cia">
        <div class="inner-block">
         
            cia
        </div>
    </div>
    <div class="panel-item calculator">
        <div class="inner-block">
         
            <button  mat-raised-button color="primary" (click)="openContactusDialog()">Связь с нами</button>
        </div>
    </div>
</div>